<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marshuo.mapper.UserMapper">
    <!-- resultType="User"，这里没有使用全限定类名，
      是因为在mybatis-config.xml中的typeAliases中定义了<package name="com.marshuo.entity"/> -->
    <select id="getUserById" resultType="User">
        select * from User where id = #{id}
    </select>

    <select id="getUserList" resultType="com.marshuo.entity.User">
        select * from User
    </select>

    <insert id="addUser" parameterType="com.marshuo.entity.User">
        insert into user (id, name, password) values (#{id}, #{name}, #{password})
    </insert>

    <update id="editUser" parameterType="com.marshuo.entity.User">
        update user set name=#{name}, password=#{password}
        where id = #{id}
    </update>

    <delete id="deleteUserById" >
        delete from user
        where id = #{id}
    </delete>
</mapper>